# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# GCloud
.gcloudignore